@media (max-height: 950px) {
  .settings-wrapper {
    margin: auto auto 12px;
  }

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

  h1 {
    margin: 0;
  }

  .header-wrapper {
    margin-bottom: 12px;
  }

  .settings-wrapper {
    margin-top: 12px;
  }

  /* .controls-settings {
    background-color: var(--spinner-bg);
    color: var(--settings-bg);
  } */
}

@media (max-height: 830px) {
  .canvas-wrapper {
    position: absolute;
   
    top: 328px;
    left: 50%;
    transform: translate(-50%, 100dvh);
    display: none;
    transition: transform ease-in-out 300ms;
  }

  .canvas-mobile-open {
    transform: translate(-50%, -50%);
  }

  .game-wrapper {
    width: 500px;
  }

  .settings-wrapper {
    margin: auto auto 0;
  }

  .main-container {
    margin-top: 80px;
  }
}


@media (max-height: 700px) {
    
}