@media (max-height: 950px) {
  .settings-wrapper {
    margin: auto auto 12px;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin: 0;
  }

  .header-wrapper {
    margin-bottom: 12px;
  }

  .settings-wrapper {
    margin-top: 12px;
  }
}

@media (max-height: 830px) {
  .canvas-wrapper {
    position: absolute;
    top: 328px;
    left: 50%;
    transform: translate(-50%, 100dvh);
    display: none;
    transition: transform ease-in-out 300ms;
  }

  .game-name-header {
    display: block;
  }

  .canvas-mobile-open {
    transform: translate(-50%, -50%);
  }

  .game-wrapper {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .settings-wrapper {
    margin: auto auto 0;
  }

  .main-container {
    margin: auto auto 0;
  }

  .canvas-wrapper {
    top: calc(50% - 62px);
  }
}

@media (max-height: 700px) {


  .left-content,
  .right-content {
    margin: 12px;
    max-height: calc(100dvh - 150px);
  }

  .canvas-wrapper {
    top: 50%;
  }
}

@media (max-height: 600px) {
    .game-wrapper {
        gap: 20px;

    }
}

@media (max-height: 500px) {
  h1 {
    font-size: 30px;
  }

  h2,
  .player-score {
    font-size: 26px;
  }

  .player-name {
    font-size: 24px;
  }

  .player-name::placeholder {
    font-size: 24px;
  }

  .item-name {
    font-size: 20px;
  }

  .item-point {
    font-size: 20px;
  }

  .header-wrapper span {
    font-size: 18px;
  }

  .opt-text {
    font-size: 24px;
  }

  .settings-wrapper img {
    width: 32px;
    height: 32px;
  }
}


@media (max-width: 1460px) {
    .item-name,
    .item-points,
    .highscore-player-name,
    .score {
        font-size: 18px;
    }

    .player-name {
        font-size: 20px;
    }

    .player-name::placeholder {
        font-size: 18px;
    }
}

@media (max-width: 1300px) {
    .open-highscore,
.open-points-table {
    display: block;
}

.score-tables-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-content,
.right-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100dvh);
    transition: transform ease-in-out 300ms;
    z-index: 300;
    display: none;
}

.open-score-table {
        transform: translate(-50%, -70%);
}

.player-name,
.player-score {
    display: none;
}
}






@media (max-width: 1300px) and (max-height: 830px) {
    .main-container {
        justify-content: center;
    }
}