html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: mansalva;
  src: url("./fonts/Mansalva/Mansalva-Regular.ttf");
}

@font-face {
  font-family: agudisplay;
  src: url("./fonts/Agu_Display/AguDisplay-Regular-VariableFont_MORF.ttf");
}

:root {
  --score-bg: rgba(233, 180, 33, 0.6);
  --score-name: rgba(179, 146, 55, 0.411);
  --settings-bg: rgb(255, 217, 112);
  /* --settings-bg-hover: rgb(247, 200, 73); */
  --settings-bg-hover: rgb(233, 180, 33);
  --settings-bg-active: rgb(233, 180, 33);
  --settings-text-active: rgb(255, 231, 163);
  --spinner-bg: #411E0F;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  font-family: agudisplay;
  cursor: url("./img/cursor.png"), auto;
  margin: 0;
}

.flex-ctr-spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex.col {
  flex-direction: column;
}

.not-selected {
  font-weight: 300;
  transform: scale(70%);
}

.selected {
  font-weight: 700;
  transform: scale(110%);
}

.game-name-header {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: agudisplay, mansalva, sans-serif;
  display: none;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.main-background-img {
  position: absolute;
  inset: 0;
  background-image: url("./img/5_background/main-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -10;
}

.canvas-wrapper {
  position: relative;
  z-index: 150;
}

canvas {
  position: relative;
  background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
  background-color: black;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 20px;
  }

.canvas-menu-display {
  position: absolute;
  padding: 20px;
  inset: 0;
  z-index: 150;
  border-radius: 20px;
  
}

.loading-spinner-container {
  position: absolute;
  inset: 0;
  background-color: var(--spinner-bg);
  border-radius: 20px;
  gap: 40px;
}

.loading-spinner-container span {
  font-size: 28px;
  color: var(--score-bg);
  letter-spacing: 2px;
}

.loading-spinner-container img {
  height: 25%;
  animation-name: spinner-bottle;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  transform: rotate(0deg);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes spinner-bottle {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
  /* 50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);} */
}

.canvas-won-container,
.canvas-lost-container {
  position: absolute;
  inset: 0 0 5px 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.won-lost-wrapper {
  display: flex;
  margin-top: 24px;
  gap: 50px;
  font-size: 32px;
}

.won-lost-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.won-lost-single-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--settings-bg);
  padding: 12px;
  border-radius: 12px;
}

.won-lost-single-button-wrapper:hover {
  filter: brightness(120%);
  transform: scale(105%);
}

.won-lost-single-button-wrapper:active {
  transform: scale(100%);
  filter: brightness(80%);
}

.game-won-img {
  width: 300px;
}

.game-lost-img {
  width: 200px;
}

.start-game-mask {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 50;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.header-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.header-wrapper span {
  display: block;
  text-align: center;
  font-size: 24px;
}

.top-game-header {
  margin-bottom: 0;
}

.d-none {
  display: none !important;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.start-game-text {
  /* display: inline-block; */
  /* animation-name: blink; */
  /* animation-duration: ; */
  animation-name: blink-start;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  /* background-color: antiquewhite; */
  /* animation: filter(); */
  width: 50%;
  justify-self: center;
}

.start-game-text:hover {
  text-shadow: 3px 5px #c64c22;
  transform: scale(120%);
}

@keyframes blink-start {
  0% {
    color: rgb(0, 0, 0);
  }
  5% {
    color: rgb(250, 108, 25);
  }
  10% {
    color: rgb(0, 0, 0);
  }
  15% {
    color: rgb(250, 108, 25);
  }
  20% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

.error-blink {
  animation-name: blink-name;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

@keyframes blink-name {
  0% {
    background-color: var(--score-bg);
  }
  50% {
    background-color: var(--score-name);
  }
  /* 10% {
    background-color: var(--score-bg);
  }
  15% {
    background-color: var(--score-name);
  }
  20% {
    background-color: var(--score-bg);;
  } */
  100% {
    background-color: var(--score-bg);
  }
}

.open-highscore,
.open-points-table {
  margin-top: auto;
  padding: 6px 10px 9px;
  font-size: 22px;
  font-family: agudisplay;
  width: 120px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  background-color: var(--settings-bg);
  display: none;
}

.open-highscore:hover,
.open-points-table:hover {
    cursor: url("./img/cursor.png"), auto;
    background-color: var(--score-bg);
}

.open-highscore:active,
.open-points-table:active {
  transform: scale(95%);
  filter: brightness(120%);
}

.left-content,
.right-content {
  border-radius: 20px;
  background-color: var(--score-bg);
  padding: 18px;
  margin: 0 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 620px;
  width: 320px;
}

.left-content {
  border: solid 18px rgba(233, 180, 33, 0);
  padding: 0;
}

.left-content::-webkit-scrollbar {
  width: 5px;
}

.right-content {
  z-index: 100;
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
}

.score {
  font-size: 22px;
}

.points-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.highscore-player-name {
  font-size: 22px;
}

.player-score {
  font-size: 32px;
  text-align: center;
}

.item-point-wrapper {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 22px;
}

.item-points {
  font-size: 22px;
  padding-left: 14px;
}

.settings-wrapper {
  border-radius: 8px;
  width: 80%;
  /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0; */
  margin: 0 140px 40px;
  padding: 0 10px;
  background-color: var(--settings-bg);
  font-size: 28px;
  display: flex;
  justify-content: space-around;
  font-family: mansalva;
  /* gap: 80px; */
}

.settings-wrapper img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.opt-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding: 10px;
}


.opt-wrapper:hover {
  background-color: var(--settings-bg-hover);
}
.opt-wrapper:active {
  background-color: var(--settings-bg-active);
  color: var(--settings-text-active);
}

.opt-wrapper:hover .settings-img {
  transform: translateY(40px);
  transition: transform 300ms;
}

.opt-wrapper:hover .opt-text {
  transform: translateY(-40px);
  transition: transform 300ms;
}

.story-text {
  padding: 20px;
  position: absolute;
  inset: 0;
  font-family: mansalva;
  font-size: 28px;
  background-color: var(--settings-bg);
  border-radius: 20px;
}

.story-text p {
  margin: 16px;
}

.story-text p:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

.story-text p:last-child {
  margin-bottom: 0;
}

.controls-settings {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  position: absolute;
  inset: 0;
  font-family: mansalva;
  font-size: 28px;
  background-color: var(--settings-bg);
  border-radius: 20px;
  align-items: center;
}

.controls-settings table {
  padding: 16px;
  width: 100%;
}
.controls-settings th {
  text-align: left;
  padding-bottom: 20px;
  font-size: 32px;
}

.controls-header {
  justify-self: center;
}

.sound-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 20px;
  position: absolute;
  inset: 0;
  font-family: mansalva;
  font-size: 28px;
  background-color: var(--settings-bg);
  border-radius: 20px;
}

.sound-wrapper span:first-child {
  margin-right: 40px;
}

.settings-close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 0 0 0 auto;
  height: 34px;
  width: 34px;
  padding: 4px;
  border-radius: 50%;
}

.settings-close-button:hover {
  background-color: var(--score-bg);
}

.player-name {
  align-self: center;
  text-align: center;
  width: 40%;
  background-color: rgba(233, 180, 33, 0);
  outline: none;
  border: none;
  font-size: 28px;
  padding: 2px 0 4px;
  font-family: agudisplay;
  font-weight: 600;
  border-radius: 12px;
  margin-top: 12px;
}

.player-name:hover {
  background-color: var(--score-bg);
}

.player-name::placeholder{
  color:  var(--settings-bg);
  font-size: 26px;
}

.responsive-input {
background-color: var(--settings-bg);
}

/* .responsive-input-placeholder::placeholder{

} */
/* 
.player-name {
  align-self: center;
  text-align: center;
  width: 80%;
  background-color: rgba(233, 180, 33, 0);
  outline: none;
  border: none;
  font-size: 32px;
  font-family: agudisplay;
  font-weight: 600;
  border-radius: 12px;
}

.player-name:hover {
  background-color: var(--score-bg);
}

.player-name::placeholder {
  color: rgba(114, 42, 13, 0.7);
  font-size: 26px;
} */

.name-error-text {
  height: 36px;
  font-weight: 700;
}

@keyframes start-error {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  5% {
    transform: translate(-8px, 5px) rotate(-2deg);
  }
  10% {
    transform: translate(6px, -6px) rotate(2deg);
  }
  15% {
    transform: translate(-7px, 4px) rotate(-3deg);
  }
  20% {
    transform: translate(7px, -3px) rotate(3deg);
  }
  25% {
    transform: translate(-5px, -6px) rotate(-2deg);
  }
  30% {
    transform: translate(4px, 6px) rotate(2deg);
  }
  40% {
    transform: translate(-3px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0.5deg);
  }
  70% {
    transform: translate(1px, -1px) rotate(-0.5deg);
  }
  80% {
    transform: translate(0.5px, 0.5px) rotate(0.2deg);
  }
  90% {
    transform: translate(-0.5px, -0.5px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.shake-error {
  animation: start-error 1s ease-out;
}





.sound-settings {
  padding: 20px;
  background: var(--settings-bg);
}

.sound-wrapper {
  margin-bottom: 30px;
}

.sound-text-wrapper {
  display: flex;
  gap: 8px;
  color: black;
  margin-bottom: 10px;
  justify-content: center;
  font-family: mansalva;
}

.sound-text-wrapper:hover span:first-child{
  font-weight: 700;
  transform: scale(110%);
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #f4a261;
  border-radius: 6px;
  outline: none;
   cursor: url("./img/cursor.png"), auto;
}

/* WebKit (Chrome, Safari) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: url('img/icons/guitar-7288462_640.png') no-repeat center center;
  background-size: contain;
  border: none;
    cursor: url("./img/cursor.png"), auto;
  transform: rotate(-45deg);
  margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: url('guitar-icon.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: url("./img/cursor.png"), auto;
}

.full-screen-button {
  background-color: var(--settings-bg-active);
  color: var(--settings-text-active);
}