html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: mansalva;
  src: url("./fonts/Mansalva/Mansalva-Regular.ttf");
}

@font-face {
  font-family: agudisplay;
  src: url("./fonts/Agu_Display/AguDisplay-Regular-VariableFont_MORF.ttf");
}

:root {
  --score-bg: rgba(233, 180, 33, 0.6);
  --score-name: rgba(179, 146, 55, 0.411);
  --settings-bg: #ffd970;
  --settings-bg-hover: rgb(233, 180, 33);
  --settings-bg-active: rgb(233, 180, 33);
  --settings-text-active: rgb(255, 231, 163);
  --spinner-bg: #411e0f;
  --error-message-txt-color: red;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  font-family: agudisplay, sans-serif;
  cursor: url("./img/cursor.png"), auto;
  max-width: 1920px;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin: 0;
}

.d-none {
  display: none !important;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-ctr-spbtw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.m20bot {
  margin-bottom: 20px;
}

.not-selected {
  font-weight: 300;
  transform: scale(70%);
}

.selected {
  font-weight: 700;
  transform: scale(110%);
}

.game-name-header {
  font-size: 80px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: agudisplay, sans-serif;
  display: none;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.main-background-img {
  position: absolute;
  inset: 0;
  background-image: url("./img/5_background/main-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(3px);
  z-index: -10;
}


.canvas-wrapper {
  position: relative;
  z-index: 150;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

canvas {
  position: relative;
  background-image: url("img/9_intro_outro_screens/start/startscreen_2.png");
  background-color: black;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.canvas-menu-display {
  position: absolute;
  padding: 20px;
  inset: 0;
  z-index: 150;
  border-radius: 20px;
  background-color: var(--settings-bg);
  overflow: hidden;
}

.header-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.header-wrapper span {
  display: block;
  text-align: center;
  font-size: 24px;
}

.top-game-header {
  margin-bottom: 0;
}

.start-game-text {
  animation-name: blink-start;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  width: 50%;
  justify-self: center;
}

.start-game-text:hover {
  text-shadow: 3px 5px #c64c22;
  transform: scale(120%);
}

@keyframes blink-start {
  0% {
    color: rgb(0, 0, 0);
  }
  5% {
    color: rgb(250, 108, 25);
  }
  10% {
    color: rgb(0, 0, 0);
  }
  15% {
    color: rgb(250, 108, 25);
  }
  20% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

.error-blink {
  animation-name: blink-name;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}

@keyframes blink-name {
  0% {
    background-color: var(--score-bg);
  }
  50% {
    background-color: var(--score-name);
  }
  100% {
    background-color: var(--score-bg);
  }
}

.left-content,
.right-content {
  border-radius: 20px;
  background-color: var(--settings-bg);
  padding: 18px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 500px;
  width: 320px;
  margin: 40px 0;
  border: solid 18px rgba(233, 180, 33, 0);
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #722a0d #facc8d;
}

.right-content {
  z-index: 100;
}

.right-content h2 {
  margin: 0;
}

.score-wrapper {
  display: flex;
  justify-content: space-between;
}

.score {
  font-size: 22px;
}

.points-table {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.highscore-player-name {
  font-size: 22px;
}

.player-score {
  font-size: 32px;
  text-align: center;
  margin: 12px;
}

.item-point-wrapper {
  display: flex;
  justify-content: space-between;
}

.item-name {
  font-size: 22px;
}

.item-points {
  font-size: 22px;
  padding-left: 14px;
}

.score-table-close-button {
  position: absolute;
  margin: 0 0 0 auto;
  height: 34px;
  width: 34px;
  padding: 4px;
  border-radius: 50%;
  display: none;
  right: 0px;
  top: 10px;
}

.score-tables-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name {
  align-self: center;
  text-align: center;
  width: 50%;
  background-color: rgba(233, 180, 33, 0);
  outline: none;
  border: none;
  font-size: 28px;
  padding: 2px 0 4px;
  font-family: agudisplay, sans-serif;
  font-weight: 600;
  border-radius: 12px;
}

#game-mode-exp {
  font-size: 20px;
}

.player-name:hover {
  background-color: var(--score-bg);
}

.player-name::placeholder {
  color: var(--settings-bg);
  font-size: 26px;
}

.name-error-text {
  height: 54px;
  font-weight: 700;
  color: var(--error-message-txt-color);
}

@keyframes start-error {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  5% {
    transform: translate(-8px, 5px) rotate(-2deg);
  }
  10% {
    transform: translate(6px, -6px) rotate(2deg);
  }
  15% {
    transform: translate(-7px, 4px) rotate(-3deg);
  }
  20% {
    transform: translate(7px, -3px) rotate(3deg);
  }
  25% {
    transform: translate(-5px, -6px) rotate(-2deg);
  }
  30% {
    transform: translate(4px, 6px) rotate(2deg);
  }
  40% {
    transform: translate(-3px, -2px) rotate(-1deg);
  }
  50% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0.5deg);
  }
  70% {
    transform: translate(1px, -1px) rotate(-0.5deg);
  }
  80% {
    transform: translate(0.5px, 0.5px) rotate(0.2deg);
  }
  90% {
    transform: translate(-0.5px, -0.5px) rotate(-0.2deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.shake-error {
  animation: start-error 1s ease-out;
}

input[type="range"]::-moz-range-track {
  background: #f4a261;
  height: 10px;
  border-radius: 6px;
}

input[type="range"] {
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: #f4a261;
  border-radius: 6px;
  outline: none;
  cursor: url("./img/cursor.png"), auto;
}

/* WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 34px;
  height: 34px;
  background: url("./img/icons/guitar-7288462_640.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: url("./img/cursor.png"), auto;
  transform: rotate(-45deg);
  margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
  width: 34px;
  height: 34px;
  background: url("./img/icons/guitar-7288462_640.png") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: url("./img/cursor.png"), auto;
  transform: translateY(-4px) rotate(-45deg);
}

.full-screen-button {
  background-color: var(--settings-bg-active);
  color: var(--settings-text-active);
}

.mobile-buttons-wrapper {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  width: 700px;
  display: none;
  touch-action: none;
}

.mobile-buttons {
  display: flex;
  gap: 12px;
  touch-action: none;
}

.mobile-game-button svg {
  width: 34px;
  height: 34px;
  touch-action: none;
}

.mobile-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40%;
  width: 80px;
  height: 70px;
  touch-action: none;
}

.mobile-game-button:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.mobile-game-button svg:active .mobile-game-button {
  background-color: rgba(255, 255, 255, 0.6);
}
